.house-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;

    Report-Dom {
        Body-Report {
            padding: 15px 30px;
            border-radius: 15px;

            Text-Report {
                margin-bottom: 10px;
                font-family: TH-font;
                font-size: 25px;
                font-weight: 900;
                background-color: white;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 6px;
                border-radius: 20px;
                box-shadow: 0px 2px 2px gray;
            }

            BoxButton-Report {
                margin-top: 10px;

                button {
                    background-color: #00b412;
                    border-radius: 15px;
                    border-radius: 15px;
                    padding: 0px 25px;
                    padding-top: 2px;
                    font-family: TH-font;
                    font-size: 30px;
                    font-weight: 900;
                    color: white;
                    box-shadow: 0px 2px 2px gray;
                }
            }
        }
    }
    .content-max-width {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        max-width: 470px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .title {
            text-align: center;
            font-family: TH-font;
            font-size: 10vw;
            font-weight: 900;
            padding-top: 7px;
            background-color: rgb(115, 213, 115);
            width: 100%;
            // height: 10%;
        }
    
        .frame-house-detail {
            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: column;
            width: 95%;
            // height: 75%;
            overflow-y: scroll;
            .frame-content-house {
                display: flex;
                justify-content: start;
                align-items: center;
                flex-direction: column;
                width: 100%;
                .loading-show {
                    position: fixed;
                }
                .content {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    margin: 10px 0px;
                    width: 100%;
                    .name-farmhouse {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        width: 100%;
                        margin-bottom: 20px;
                        span {
                            font-family: TH-font;
                            font-size: 10vw;
                            font-weight: 900;
                        }

                        input {
                            font-family: TH-font;
                            font-size: 10vw;
                            padding: 0px 10px;
                            padding-top: 5px;
                            text-align: center;
                            border: 0;
                            box-shadow: inset 0px 0px 5px green;
                            border-radius: 18px;
                        }
                    }
                    .box-image {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        margin:0px auto;
                        background-color: #def7e1;
                        width: 100%;
                        margin: 10px 0px;
                        padding-bottom: 5px;
                        border-radius: 15px;
                        .frame-picture {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            overflow: hidden;
                            margin: 0px auto;
                            border-radius: 15px;
                            margin: 10px 0px;
                    
                            .Loading-img {
                                position: absolute;
                                background-color: white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                z-index: 10;
                            }
                    
                            img {
                                transform: translate(0,0);
                                // transition: 0.5s;
                            }
                            
                            img[size="w"] {
                                width: 100%;
                                height: auto;
                            }
                    
                            img[size="h"] {
                                width: auto;
                                height: 100%;
                            }
            
                            img[src="/view-preview-img.svg"] {
                                opacity: 0.3;
                            }
                        }
                
                        .content-bt-image {
                            margin-top: 0px;
                            margin-bottom: 10px;
                            .bt-upload {
                                background-color: black;
                                padding: 0px 15px;
                                padding-top: 3px;
                                font-family: TH-font;
                                border-radius: 15px;
                                font-size: 7vw;
                                color: white;
                                box-shadow: 0px 2px 2px gray;
                            }
                        }
                
                    }
        
                    .generate-map {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        margin-top: 20px;
                        position: relative;
                        width: 100%;

                        span {
                            font-family: TH-font;
                            font-size: 10vw;
                            font-weight: 900;
                        }
        
                        .frame-map {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            border-radius: 15px;
                            overflow: hidden;
                            width: 100%;
                            .frame-background-loading-map {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: rgba(255, 255, 255, 0.349);
                                backdrop-filter: blur(8px);
                                .loading-map-house {
                                    width: 25vw;
                                    height: 25vw;
                                }
                            }

                            .map-house {
                                width: 100%;
                            }
                        }

                        .reload-map {
                            display: flex;
                            position: absolute;
                            font-family: TH-font;
                            font-size: 6vw;
                            font-weight: 900;
                            background-color: white;
                            padding: 0px 10px;
                            padding-top: 2vw;
                            border-radius: 15px;
                            box-shadow: 0px 4px 4px rgb(0, 0, 0);
                            bottom: 0.6em;
                            right: 0.2em;
                        }
                    }
                }
            }
        }
    
        .content-bt {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            // height: 10%;
            padding: 10px 0px;
            background-color: rgb(115, 213, 115);
            .bt {
                border-radius: 15px;
                width: 30%;
                padding-top: 2vw;
                border: 0;
                font-family: TH-font;
                font-size: 10vw;
                font-weight: 900;
                color: white;
                box-shadow: 0px 3px 4px gray;
            }

            .submit {
                background-color: green;
            }

            .cancel {
                background-color: red;
            }
        }
    }

    @media only screen and (min-width : 470px) {
        Report-Dom {
            Body-Report {
                padding: 15px 30px;
                border-radius: 15px;
    
                Text-Report {
                    margin-bottom: 10px;
                    font-family: TH-font;
                    font-size: 25px;
                    font-weight: 900;
                    background-color: white;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-top: 6px;
                    border-radius: 20px;
                    box-shadow: 0px 2px 2px gray;
                }
    
                BoxButton-Report {
                    margin-top: 10px;
    
                    button {
                        background-color: #00b412;
                        border-radius: 15px;
                        border-radius: 15px;
                        padding: 0px 25px;
                        padding-top: 2px;
                        font-family: TH-font;
                        font-size: 30px;
                        font-weight: 900;
                        color: white;
                        box-shadow: 0px 2px 2px gray;
                    }
                }
            }
        }
        .content-max-width {
            .title {
                font-size: 47px;
                padding-top: 10px;
                // height: 10%;
            }
        
            .frame-house-detail {
                .frame-content-house {
                    .loading-show {
                        position: fixed;
                    }
                    .content {
                        .name-farmhouse {
                            span {
                                font-size: 47px;
                            }

                            input {
                                font-size: 47px;
                                padding: 0px 10px;
                                padding-top: 5px;
                            }
                        }
                        .box-image {
                            .content-bt-image {
                                .bt-upload {
                                    background-color: black;
                                    padding: 0px 15px;
                                    padding-top: 3px;
                                    font-size: 32.9px;
                                }
                            }
                    
                        }
            
                        .generate-map {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            margin-top: 20px;
    
                            span {
                                font-size: 47px;
                            }
            
                            .frame-map {
                                .frame-background-loading-map {
                                    .loading-map-house {
                                        width: 117.5px;
                                        height: 117.5px;
    
                                        .loading-dom-module {
                                            .curcle {
                                                border-width: 18.8px !important;
                                            }
                                        }
                                    }
                                }
                            }

                            .reload-map {
                                font-size: 28.2px;
                                padding: 0px 10px;
                                padding-top: 9.4px;
                            }
                        }
                    }
                }
            }
        
            .content-bt {
                .bt {
                    padding-top: 9.4px;
                    font-size: 47px;
                }
            }
        }
    }
}