#box-login-docter {

    height: 100%;

    .content-login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 50%;
        max-width: 300px;
        text-align: center;
        margin: auto auto;

        button {
            margin-top: 15px;
            border-radius: 12px;
            padding: 2px 0px;
            
            font-family: Sans-font;
            font-size: 16pt;
        }

        .content-pw {
            transition: 0.25s;
        }

        label {

            margin: 5px 0px;
            display: flex;
            justify-content: end;

            .label-login {
                position: absolute;
                transition: 0.3s;
                transform: translate( -5px , 0px );
                font-family: Sans-font;
                font-size: 19px;
                font-weight: 900;
                z-index: -1;
            }

            .inputForm {
                border-radius: 12px;
                border: 0.5px solid greenyellow;
                border-bottom: 4px solid greenyellow;
                box-shadow: 0px 0px 2.5px greenyellow;
                outline: 0px;
                padding: 2px 10px;
                width: 100%;
                height: 35.8px;
                font-family: Sans-font;
                font-weight: 900;
                font-size: 14pt;
            }
        }
    }

    #form-personal {
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(8px);
        z-index: 5;
        transition: 0.5s opacity ,0.5s visibility;

        opacity: 0;
        visibility: hidden;

        #account-error {
            position: absolute;
            display: flex;
            z-index: 5;
            background-color: transparent;
            backdrop-filter: blur(8px);
        }

        #form {
            #id-docter {

            }

            input[request=""]{
                border: 2px solid red;
            }
        }
    }

    #form-personal[show=""] {
        opacity: 1;
        visibility: visible;
    }
}

.moveOn {
    transform: translate(-5px, -28px) !important;
}

.empty {
    box-shadow: 0px 0px 5px red !important;
}

.error-login {
    color: red;
    font-family: Sans-font;
    font-weight: 900;
    font-size: 16px;
}

.Logo-App {
    transition: 0.3s;
    margin-bottom: 18px;

    -webkit-user-drag: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// responsive computer
@media only screen and (min-width: 1280px) and  (min-height: 720px) and (max-width: 1920px) and (max-height: 1080px) {
    #box-login-docter {
        .content-login {
            button {
                cursor: pointer;
            }
            button:hover {
                box-shadow: 0px 0px 10px green;
            }
        }
    }
}

