Admin/node_modules
Docter/node_modules
API/node_modules
node_modules
package-lock.json
/package.json
public/main.js
main.js.LICENSE.txt
main.js.map
# package.json
# Admin/.env
# Admin/package-lock.json
# Admin/package.json
# Admin/sql_DATABASE_DEV.sql
# Admin/.gitignore