Admin/node_modules
Doctor/node_modules
API/node_modules
node_modules
package-lock.json
/package.json
public/main.js
main.js.LICENSE.txt
main.js.map
testSetting
public/120.main.js
public/120.main.js.LICENSE.txt
public/469.main.js
public/856.main.js
public/856.main.js.LICENSE.txt
src/assets/img/doctor/report/*.jpg
.env
# package.json
# Admin/.env
# Admin/package-lock.json
# Admin/package.json
# Admin/sql_DATABASE_DEV.sql
# Admin/.gitignore