node_modules
package-lock.json
testSetting
assets/img/doctor/report/*.jpg
build
.env
# /package.json
# package.json
# Admin/.env
# Admin/package-lock.json
# Admin/package.json
# Admin/sql_DATABASE_DEV.sql
# Admin/.gitignore