.nav-first {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100%;
    .all-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        // width: 100vw;
        .head {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 5vw;
            font-family: main-font;
            font-weight: 900;
            font-size: 12vw;
        }
        .content-menu {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            width: 100vw;
            .frame-menu {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                border-radius: 50px;
                padding: 0px 15px;
                box-shadow: 0px 4px 4px rgb(179, 179, 179);
                width: 80vw;
                height: 80vw;
                // overflow: hidden;
                .box-icon {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    position: relative;
                    .img {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 25vw;
                        height: 25vw;
                        border-radius: 50%;
                        overflow: hidden;
                        // box-shadow: 0px 0px ;
                        // background-size:;
                        img {
                            height: 100%;
                        }
                    }

                    .frame-plant {
                        box-shadow: 0px 0px 100vw rgba(0, 255, 63, 0.35);
                    }
        
                    .frame-ferti {
                        box-shadow: 0px 0px 100vw #ffe5a1;
                    }
        
                    .frame-cremi {
                        box-shadow: 0px 0px 100vw #ffa2a2;
                    }
        
                    .frame-success {
                        box-shadow: 0px 0px 100vw #c070ff;
                    }
                }
                span {
                    // margin-top: 10px;
                    font-family: Sans-font;
                    font-size: 6vw;
                    text-align: center;
                    font-weight: 900;
                    // width: 55vw;
                    padding: 1vw 5vw;
                    background-color: white;
                    z-index: 1;
                    box-shadow: 0px 0px 15px white;
                    // outline: 2px solid green;
                    border-radius: 20px;

                }
            }
        }

        .report-farm {
            padding: 10px;
            img {
                width: 100%;
                border-radius: 15px;
            }
        }
    }
}