$sizeIcon : 24px;
$paddingNav : 0px 17px 0px 2px;
$paddingNavPick : 0px 2px 0px 2px;
$bg-hover: rgba(220, 220, 220, 0.449);
$widthMiniNav : 60px;
$widthNav : 165px;

.admin * :not(a) {
    -webkit-user-drag: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: black;
}

.admin {
    .tab-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 65px;
        padding: 0px 16px;

        .pg-action {
            display: flex;
            justify-content: center;
            align-items: center;
            .nav-menu {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                padding: $paddingNav;
                
                .bg-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    padding: 8px;
                    transition: 0.2s;
                    img {
                        width: $sizeIcon;
                    }
                }

                .bg-icon:hover {
                    background-color: $bg-hover;
                }
            }
    
            .Logo{
                display: flex;
                font-size: 18pt;
                img{
                    margin-left: 5px;
                    margin-bottom: 10px;
                    max-width: 15px;
                }
            }
        }

        .bt-action {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .alarm {
                background-color: rgba(255, 255, 255, 0);
                transition: 0.2s;
                border-radius: 50%;
                margin: 0px 15px;
                padding: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 24px;
                }
            }

            .alarm:hover {
                background-color: $bg-hover;
            }

            .profile {
                background-color: rgb(20, 186, 20);
                border-radius: 50%;
                margin: 0px 15px;
                transition: 0.2s;
                padding: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 35px;
                }
            }

            .profile:hover {
                background-color: green;
            }
        }
    }

    .container-body-admin {
        display: flex;
        
        .nav-menu {
            margin: 0px 0px 0px 17px;
            .list-menu-nav {
                display: flex;
                align-items: center;
                overflow: hidden;
                border-radius: 16px 0px 0px 16px;

                transition:background-color 0.2s , width 0.2s 0.2s;
                width: $widthNav;
                height: 45.2px;

                bot-bt-nav {
                    display: flex;
                    align-items: center;
                    border-radius: 16px 0px 0px 16px;
                    padding-right: 10px;

                    transition: background-color 0.2s;
                    width: $widthNav;
                    height: 45.2px;
                    
                    bot-gap-nav-icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: $paddingNav;

                        img {
                            width: $sizeIcon;
                            height: $sizeIcon;
                            margin: 0px 8px;
                        }
                    }

                    bot-gap-string {
                        text-align: start;
                        font-size: 0.9vw;
                        margin: 5px 0px;
                        transition: 0.2s;
                    }
                }
            }

            .list-menu-nav{
                bot-bt-nav:hover {
                    background-color: $bg-hover;
                }
            }

            a[mini-nav] {
                width: $widthMiniNav;

                bot-bt-nav{
                    bot-gap-string {
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }

            a[mini-nav-action] {
                transition: width 0.2s 0s !important;
                bot-bt-nav {
                    transition: background-color 0.2s;
                    bot-gap-string {
                        transition: 0.2s 0.2s;
                    }
                }
            }
        }

        bot-main {
            background-color: $bg-hover;
            display: flex;
            width: 100%;
            height: calc(100vh - 65px);
            overflow-y: scroll;
            overflow-x: hidden;
        }
    }
}

.list-menu-nav {
        
    bot-bt-nav {
        bot-gap-nav-icon {
            cursor: pointer;
            img {
                cursor: pointer;
            }
        }
    
        bot-gap-string {
            cursor: pointer;
        }
    }
}

a[nav-select] {
    background-color: $bg-hover;
}

@media only screen and (min-width: 1280px) and  (min-height: 720px) and (max-width: 1920px) and (max-height: 1080px) {
    
}