#session {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

    opacity: 0;
    visibility: hidden;

    z-index: 600;
    transition: 0.5s;

    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
    overflow: hidden;
    background-color: rgba(159, 159, 159, 0.23);
    backdrop-filter: blur(3px);

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        background-color: white;
    
        padding: 25px 45px;
        border-radius: 8px;
        box-shadow: 0px 0px 5px rgba(148, 148, 148, 0.329);

        div {
            font-size: 18pt;
            margin-bottom: 15px;
        }

        button {
            padding: 0px 30px;
            border-radius: 8px;
            font-size: 14pt;
            cursor: pointer;
        }
    } 

    form * {
        font-family: Sans-font;
    }
}

#session[show] {
    opacity: 1;
    visibility: visible;
}

#feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

    opacity: 0;
    visibility: hidden;

    z-index: 601;
    transition: 0.5s;

    width: 310px;
    height: 260px;
    margin-top: 52px;
    border-radius: 0px 0px 8px 8px;

    padding-bottom: 30px;

    // left: 0;
    // top: 0;
    overflow: hidden;
    background-color: rgba(159, 159, 159, 0.23);
    backdrop-filter: blur(3px);

    #curcle-feedback {
        width: 100px;
        height: 100px;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 100%;
        // padding: 10px;
        border: 7px solid green;
        border-top: 5px solid rgba(0, 0, 0, 0);
        border-left: 5px solid rgba(0, 0, 0, 0);
        animation: Loading-curcle 1s infinite linear;
    }

    #box-feedback-img {
        width: 100px;
        height: 100px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        #img-feedback-correct {
            width: 125px;
            position: fixed;
            transform: rotateY(90deg);
            transition: transform 1.5s;
        }

        #img-feedback-error {
            width: 80px;
            position: fixed;
            transform: rotateY(90deg);
            transition: transform 1.5s;
        }
        
        #img-feedback-correct[show] , #img-feedback-error[show] {
            transform: rotateY(0deg);
        }
    }
}

@keyframes Loading-curcle {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

#feedback[show] {
    opacity: 1;
    visibility: visible;
}