$fontSize: 14pt;
$fontSizeLabel: 18pt;

#content-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    #Pform {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        height: 100%;
        width: 100%;
    
        max-width: 260px;

        Bot-head-form {
            font-family: Sans-font;
            margin: 15px 0px;
            font-size: 16pt;
            font-weight: 900;
        }
    
        .textbox-Pform {
            display: flex;
            justify-content: end;
            align-items: center;
            flex-direction: row;
            width: 100%;
            min-height: 37.2px;

            margin: 5px;

            border: 2px solid greenyellow;
            box-shadow: 0px 0px 2.5px greenyellow;

            border-radius: 8px;
            overflow: hidden;
            
    
            .label-Pform {
                height: 34px;
                border-left: 2px solid rgb(15, 191, 15);
                background-color: rgb(15, 191, 15);
                padding: 5px;
            }
    
            input {
                border-right: 0px;
                font-size: $fontSize;
                font-family: Sans-font;
                outline: 0px;

                border: 0px;
                padding: 3px 10px;

                width: 100%;
            }
        }
    
        button {
            margin-top: 5px;
            width: 100%;
            text-align: center;
            border-radius: 15px;
            padding: 5px 0px;

            font-family: Sans-font;
            font-size: $fontSize;
        }
    }
}