$fontSize: 15pt;

#Pform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width: 100%;

    .textbox-Pform {
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 5px;

        .label-Pform {
            position: absolute;
            font-family: TH-font;
            font-size: $fontSize;
        }

        input {
            border-radius: 12px;
            border: 0.5px solid greenyellow;
            box-shadow: 0px 0px 2.5px greenyellow;
            font-size: $fontSize;
            font-family: Sans-font;
            outline: 0px;
            padding: 2px 10px;
        }
    }
}