.doctor * :not(a) {
    -webkit-user-drag: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: black;
}

a {
    cursor: pointer;
}

.doctor {
    display: flex;
    flex-direction: column;
    height: 100%;
    .image-cover {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100%;
        height: 50%;
        transition: 0.5s height;
        z-index: 1;
        margin-top: 70.47px;

        .text-cover {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            overflow: hidden;
            width: 800px;
            .icon {
                display: flex;
                justify-content: center;
                align-items: start;
                span {
                    font-size: 80px;
                    font-family: Sans-font;
                    font-weight: 900;
                    color: white;
                    margin-top: 20px;
                    letter-spacing: 10px;
                }
    
                img {
                    width: 12%;
                    height: 12%;
                    // transform: translate(-20px , -20px);
                }
            }
            
            .status {
                display: flex;
                justify-content: center;
                align-items: center;
                .box-status {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span {
                        color: black;
                        font-family: Sans-font;
                        font-size: 18px;
                        font-weight: 900;
                        padding: 0px 15px;
                        border-radius: 20px;
                        background-color: white;
                    }
                    img {
                        width: 15px;
                        margin: 0px 5px;
                    }
                }
            }
        }
        .frame {
            display: flex;
            justify-content: center;
            align-items: center;
            // transform: translateY(0px);
            width: 100%;
            height: 1080px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    @media only screen and (max-width : 800px) {
        .image-cover {
            margin-top: 48px;
            flex-direction: column;

            .text-icon-cover {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 5px;
                .text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-family: Sans-font;
                    font-size: 22px;
                    margin-right: 10px;
                }

                .icon-profile {
                    // width: 80px;
                    // height: 80px;
                    max-width: 110px;
                    max-height: 110px;

                    img {
                        width: 100%;
                    }
                }
            }

            .frame-image-cover {
                width: 90%;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
        }
    }

    @media only screen and (max-width : 400px) {
        .image-cover {
            margin-top: 38px;
        }
    }

    .container-body-doctor {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40vh;
        overflow: hidden;
        bot-main {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            bot-content {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
            }
        }
    }
}