// @media only screen and (min-width : 1250px) {
//     $item-in-row-doctor : 3;
// }

// @media only screen and (max-width : 1250px) {
//     $item-in-row-doctor : 2;
// }

.farmer-list-page {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .bt-action[show=""] {
        transform: translateX(0px);
    }
    .bt-action {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        padding: 0.5vw 8px;
        border-radius: 0px 0px 0px 15px;
        right: 0;
        top: 0;
        // width: 100%;
        background-color: white;
        box-shadow: 0px 2px 2px rgb(185, 185, 185);
        transform: translateX(100%);
        transition: 0.5s transform;
        z-index: 2;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0.1em;
            right: 100%;
            font-family: Sans-font;
            font-size: 1.5vw;
            font-weight: 900;
            color: #22C7A9;
            width: 50%;
            border-radius: 15px 0px 0px 15px;
            background-color: white;
            box-shadow: 0px 2px 2px rgb(185, 185, 185);
        }

        select {
            background-color: #22C7A9;
            color: white;
            padding: 0px 8px;
            border-radius: 10px;
            text-align: center;
            font-size: 1.5vw;
            font-weight: 900;
            font-family: Sans-font;
            border: 0;
            outline: 0;
        }
    }

    .farmer-list {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: 1.5vw;
        padding-bottom: 0.7vw;

        .row {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
    
            .row-content {
                width: 100%;
                display: flex;
                .list-some-farmer {
                    display: inline-flex;
                    position: relative;
                    justify-content: space-around;
                    width: calc((100% / var(--item-in-row-doctor)) - var(--margin-in-row-doctor) - 0.01px);
                    margin: 10px calc(var(--margin-in-row-doctor)/2);
                    padding: 0.7vw 1vw;
                    height: auto;
                    box-shadow: 0px 4px 4px rgb(183, 183, 183);
                    transition: 0.5s opacity , 0.5s visibility;
        
                    .img {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 30%;
                        img {
                            width:100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }
        
                    .detail {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        width: 60%;
                        // height: 100%;
        
                        .text {
                            input {
                                font-family: Sans-font;
                                font-size: var(--font-size-date-in-row-doctor);
                                width: 100%;
                                outline: 0;
                                border: 0;
                            }
                        }
        
                        .fullname {
                            input {
                                font-weight: 900;
                                font-size: var(--font-size-in-row-doctor);
                            }

                            border-bottom: 3px solid #22C7A9;
                        }
        
                        .line {
                            width: 100%;
                            height: 0.2vw;
                            background-color: #22C7A9;
                        }
                    }

                    .bt {
                        position: absolute;
                        bottom: 0.5em;
                        right: 1.5em;

                        button {
                            font-size: var(--font-size-date-in-row-doctor);
                            width: 115%;
                            font-family: Sans-font;
                            font-weight: 900;
                            border-radius: 15px;
                            outline: 0;
                            border: 0;
                            box-shadow: 0px 2px 2px rgb(189, 189, 189);
                            background-color: #22C7A9;
                            color: white;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}