.farmer-list-page {
    #select-convert-farmer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 25vw;
        height: 40%;
        min-width: 250px;
        min-height: 250px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 4px 4px rgb(176, 176, 176);
    
        .close {
            position: absolute;
            right: -1.5em;
            top: -1.5em;
            background-color: white;
            border-radius: 50%;
            width: 45px;
            height: 45px;
        }

        .search {
            display: flex;
            padding-top: 10px;
            height: 15%;
            input {
                font-family: Sans-font;
                font-size: 18px;
                background-color: #22C7A9;
                border: 0;
                outline: 0;
                font-weight: 900;
                color: white;
                border-radius: 15px;
            }

            input::placeholder {
                color: white;
            }
        }

        .body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            padding: 10px;
            overflow-y: scroll;
            height: 80%;
            font-size: 30px;
            font-weight: 900;
            font-family: Sans-font;
            
            section {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;

                .img {
                    display: flex;
                    width: 30%;
                    img {
                        border-radius: 10px;
                        width: 100%;
                    }
                }

                .detail {
                    display: flex;
                    width: 70%;
                }
            }
        }
    }
}