#rule-admin {
    .body-list-manage {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    
        .page-insert {
            display: flex;
            position: fixed;
            background-color: white;
            border-radius: 20px 0px 0px 20px;
            z-index: 1;
            // right: 0;
            width: 90%;
            max-width: 250px;
            transition: 0.5s transform;
            left: 100%;
            box-shadow: -4px 4px 4px rgba(184, 184, 184, 0.473);
    
            .Load-insert {
                report-dom {
                    border-radius: 18px;
    
                    body-report {
                        text-report {
                            font-family: Sans-font;
                            font-size: 15px;
                            font-weight: 900;
                            background-color: white;
                            padding: 1px 20px;
                            border-radius: 20px;
                        }

                        status-report {
                            margin: 5px 0px;
                        }
    
                        box-button-report {
                            button {
                                background: linear-gradient(120deg , #52D8C0 , #228774);
                                border-radius: 20px;
                                font-size: 18px;
                                font-family: Sans-font;
                                font-weight: 900;
                                padding: 1px 20px;
                                color: white;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            .body-page {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                padding: 5px 0px;
    
                .head {
                    font-family: Sans-font;
                    font-weight: 900;
                    font-size: 18px;
                    border-bottom: 2px solid #22C7A9;
                    width: 100%;
                    padding: 2px 0px;
                    text-align: center;
                }
                .detail-data {
                    display: flex;
                    flex-direction: column;
                    padding: 5px 10px;
                    width: 100%;
                    // padding: 0.3255vw 0.976vw;
                    label {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: center;
                        margin: 4px 0px;
    
                        // svg {
                        //     font-size: 1.953vw;
                        //     color: white;
                        //     margin-right: 0.325vw;
                        // }
                        .field-text {
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            align-items: start;
                            width: 100%;
                            span.head-text {
                                font-family: Sans-font;
                                font-size: 16px;
                                font-weight: 900;
                                padding: 0;
                            }
                            input , select {
                                border: 0;
                                outline: 0;
                                font-family: Sans-font;
                                // font-weight: 900;
                                font-size: 16px;
                                background-color: #52D8C0;
                                color: white;
                                width: 100%;
                                border-radius: 8px;
                                padding: 2px 4px;
                                padding-bottom: 0px;
                                height: 28px;
                            }
    
                            select {
                                width: 80%;
                                background-color: #52D8C0;
                            }
        
                            input::placeholder {
                                color: white;
                            }
                        }
                    }

                    label.station {
                        position: relative;

                        iframe {
                            height: 80px;
                        }

                        button {
                            bottom: 0.5em;
                            right: 0.5em;
                            border-radius: 8px;
                            border: 0;
                            outline: 0;
                            font-family: Sans-font;
                            font-weight: 900;
                            position: absolute;
                            box-shadow: 0px 4px 2px rgb(108, 108, 108);
                            background-color: #EB7878;
                            color: white;
                            letter-spacing: 1px;
                            cursor: pointer;
                        }
                    }

                    label.two-box {
                        flex-direction: row;
                        justify-content: space-between;

                        .field-text {
                            width: 48%;
                        }
                    }
                }
    
                label.admin-confirm {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    padding-top: 10px;
                    margin-bottom: 10px;
                    border-top: 2px solid #22C7A9;
                    width: 100%;
    
                    input {
                        width: 94%;
                        border: 0;
                        outline: 0;
                        font-family: Sans-font;
                        font-weight: 900;
                        font-size: 18px;
                        text-align: center;
                        border: 2px solid #22C7A9;
                        border-radius: 8px;
                        padding: 2px 0px;
                    }
                }
    
                .bt-submit {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 5px;
    
                    button {
                        width: 30%;
                        height: 27px;
                        font-size: 16px;
                        font-family: Sans-font;
                        font-weight: 900;
                        border: 0;
                        outline: 0;
                        border-radius: 20px;
                        color: white;
                        cursor: pointer;
                    }
    
                    button.cancel {
                        background: linear-gradient(90deg , #FF0000 , #EB7878);
                        box-shadow: 0px 2px 2px rgb(104, 0, 0);
                    }
                    button.cancel:active {
                        padding-top: 2px;
                        box-shadow: 0px 2px 2px inset rgb(104, 0, 0);
                    }
    
                    button.submit {
                        background: linear-gradient(90deg , #049f9f , #60d6cf);
                        box-shadow: 0px 2px 2px #055a5a;
                    }
                    button.submit:active {
                        padding-top: 2px;
                        box-shadow: 0px 2px 2px inset #055a5a;
                    }

                    button.submit[no=""] {
                        cursor: not-allowed;
                        box-shadow: none;
                        background: linear-gradient(90deg , #049f9f8e rgba(96, 214, 206, 0.556));
                        color: rgb(206, 206, 206);
                    }
                }
            }
        }
    
        .page-insert[show=""]{
            transform: translateX(-100%);
        }
    
        // input {
        //     width: 13.437vw;
        //     height: 1.901vw;
        // }
    
        input[type="password"]::placeholder {
            font-family: Sans-font !important;
        }
        input[type="password"] {
            font-family: main-font !important;
        }
    
        .List-data {
            text-align: center;
            list-data-body[remove=""]{
                opacity: 0;
                visibility: hidden;
            }

            list-data-body[status="delete"] {
                background-color: #fac1c185;
            }

            list-data-body {
                display: inline-flex;
                flex-direction: column;
                position: relative;
                padding: 10px 0px 5px 10px;
                box-shadow: 0px 4px 4px rgba(128, 128, 128, 0.489);
                width: 95%;
                height: auto;
                max-width: 440px;
                overflow: hidden;
                border-radius: 8px;
                opacity: 1;
                visibility: visible;
                transition: 0.5s opacity , 0.5s visibility;
                background-color: #67e6cf4b;
                margin: 5px;

                .status-online {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    padding-right: 2%;
                    font: 900 14px Sans-font;

                    .text-online {
                        background-color: white;
                        padding: 1px 5px;
                        border-radius: 20px;
                    }
                }

                detail-data-main {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    detail-Image {
                        border-radius: 50%;
                        overflow: hidden;
                        width: 80px;
                        // height: 30%;
                        height: 80px;
                        min-width: 60px;
                        min-height: 60px;
                        margin: 0px 10px;
                        margin-left: 2px;
                        box-shadow: 0px 2px 4px rgba(185, 185, 185, 0.555);
                        background-color: white;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    detail-data {
                        display: flex;
                        flex-direction: column;
                        // width: 340px;
                        detail-in-fullname {
                            text-align: start;
                            border-bottom: 2px solid #22C7A9;
                            margin: 2px 0px;
                            padding-right: 15px;
                            
                            span {
                                font-family: Sans-font;
                                font-weight: 900;
                                font-size: 18px;
                                text-wrap: nowrap;
                            }
                        }

                        detail-in {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            overflow: hidden;
                            .head-data {
                                display: flex;
                                font-family: Sans-font;
                                font-size: 16px;
                                font-weight: 900;
                            }

                            .text-data {
                                display: flex;
                                font-family: Sans-font;
                                font-size: 16px;
                                text-overflow: ellipsis;
                                margin-left: 2px;
                                text-wrap: nowrap;
                            }
                        }
                    }

                    detail-data[flex="station"]{
                        flex-direction: column;
                    }
                    detail-data[flex="plant"]{
                        flex-direction: row;
                    }

                    detail-data[maxsize=""] {
                        width: 100%;
                        padding-bottom: 0.5vw;
                        // padding: 0px 1vw;
                        // padding-top: 0.5vw;
                        .name[w="plant"] {
                            width: 100%;
                        }
                        .name[w="plant"] {
                            width: 50%;
                        }
                        .name {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            span {
                                font-weight: 900;
                                font-size: 18px;
                                font-family: Sans-font;
                            }
                            span.plant {
                                display: flex;
                                // width: 4vw;
                            }

                            span.station {
                                display: flex;
                                // width: 20vw;
                            }

                            .text-data {
                                font-family: Sans-font;
                                font-size: 18px;
                                margin-left: 5px;
                            }

                            .text-data.station {
                                width: 100%;
                                text-align: center;
                                margin: 5px 0px;
                                font-weight: 900;
                                padding: 0 5px;
                            }
                        }

                        .type_plant {
                            display: flex;
                            width: 50%;
                            span {
                                font-weight: 900;
                                font-size: 18px;
                                font-family: Sans-font;
                            }

                            .text-data {
                                font-family: Sans-font;
                                font-size: 18px;
                                margin-left: 5px;
                            }
                        }

                        .location {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            iframe {
                                border-radius: 1vw;
                            }
                        }
                    }
                }

                detail-data-main[column=""] {
                    flex-direction: column;
                }

                action-bt {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    margin-top: 5px;
                    width: 100%;

                    content-status[because="1"] {
                        background-color: white;
                        box-shadow: 0px 0px 3px inset gray;
                    }

                    content-status {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 4px 4px;
                        margin-right: 5px;
                        border-radius: 50px;
                        bt-because {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            button {
                                background: linear-gradient(120deg , white , #52d8bf87);
                                border: 0;
                                outline: 0;
                                border-radius: 50px;
                                width: 70px;
                                box-shadow: 0px 4px 4px rgba(188, 188, 188, 0.516);
                                font-family: Sans-font;
                                font-weight: 900;
                                font-size: 16px;
                                padding: 0;
                                margin-right: 5px;
                                color: black;
                                cursor: pointer;
                            }
                        }

                        bt-status {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            border-radius: 50px;
                            overflow: hidden;
                            width: 70px;
                            box-shadow: 0px 4px 4px rgba(188, 188, 188, 0.516);
                            cursor: pointer;
                            .frame {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                border-radius: 50px;
                    
                                transition: 0.5s transform;
                                span {
                                    font-family: Sans-font;
                                    font-weight: 900;
                                    font-size: 16px;
                                    padding-top: 2px;
                                    margin: 0px 2.5px;
                                    color: white;
                                    width: 40px;
                                    text-align: center;
                                }
        
                                span.dot {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 20px;
                                    height: 20px;
                                    box-shadow: 0px 2px 4px rgba(183, 183, 183, 0.434);
                                    border-radius: 50%;
                                    background-color: white;
                                }
                            }
    
                            .frame[status="1"] {
                                transform: translateX(0px);
                                background-color: #48CC5D;
                            }
                            .frame[status="0"] {
                                transform: translateX(-40%);
                                background-color: #FF5D5D;
                            }
                        }

                        .edit-bt {
                            background: linear-gradient(160deg , #60d6cf , #0e6555);
                            width: 70px;
                            border-radius: 50px;
                            font: 900 16px Sans-font;
                            padding-top: 2px;
                            margin: 0px 6px;
                            box-shadow: 0px 2px 4px #135b4d;
                            color: white;
                            transition: background 2s;
                        }

                        .edit-bt:hover {
                            background: linear-gradient(45deg , #60d6cf , #0e6555);
                        }

                        .edit-bt:active {
                            box-shadow: 0px 2px 4px #135b4d inset;
                        }
                    }

                    content-status[delete=""] {
                        margin-right: 0;
                        padding: 0px;

                        bt-because {
                            button {
                                margin-right: 0px;
                                width: 70px;
                            }
                        }
                    }

                    bt-delete {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 5px;
                        button {
                            border: 0;
                            background: linear-gradient(120deg , #FAC1C1 , #C40D0D);
                            border-radius: 20px;
                            padding: 0px 10px;
                            font-family: Sans-font;
                            font-weight: 900;
                            font-size: 16px;
                            color: white;
                            box-shadow: 0px 4px 4px rgba(188, 188, 188, 0.516);
                            cursor: pointer;
                        }
                    }
                }
            }

            list-data-body[status="station"] {
                padding-left: 0px;
            }
            // Row-List {
            //     display: flex;
            //     width: 100%;
            //     justify-content: space-evenly;
            //     align-items: center;
            //     margin-bottom: 2.5vw;
    
                
            // }
        }

        @media only screen and (max-width : 480px) {
            .page-insert {
                transform: translate(0 , -100px);

                .body-page {
                    .head {
                        font-size: 16px;
                    }

                    .detail-data {
                        label {
                            .field-text {
                                span.head-text {
                                    font-size: 14px;
                                }

                                input , select {
                                    font-size: 14px;
                                    height: 26px;
                                }
                            }
                        }

                        label.station {
                            iframe {
                                height: 70px;
                            }
                        }
                    }

                    label.admin-confirm {
                        input {
                            font-size: 16px;
                        }
                    }

                    .bt-submit {
                        button {
                            height: 25px;
                        }
                    }
                }
            }

            .page-insert[show=""] {
                transform: translate(-100% , -100px);
            }
        }

        @media only screen and (max-width : 430px) {
            .List-data {
                list-data-body {
                    .status-online {
                        font: 900 12px Sans-font;
                    }
                    detail-data-main {
                        detail-Image {
                            width: 60px;
                            height: 60px;
                        }

                        detail-data {
                            // width: 250px;
                            detail-in-fullname {
                                span {
                                    font-size: 16px;
                                }
                            }

                            detail-in {
                                .head-data {
                                    font-size: 14px;
                                }

                                .text-data {
                                    font-size: 14px;
                                }
                            }
                        }

                        detail-data[maxsize=""] {
                            .name {
                                span {
                                    font-size: 14px;
                                }
    
                                .text-data {
                                    font-size: 14px;
                                }
                            }
    
                            .type_plant {
                                span {
                                    font-size: 14px;
                                }
    
                                .text-data {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media only screen and (max-width : 360px) {
            .List-data {
                list-data-body {
                    padding: 5px;
                    .status-online {
                        font: 900 11px Sans-font;
                    }

                    detail-data-main {
                        detail-Image {
                            width: 50px;
                            min-width: 50px;
                            height: 50px;
                            min-height: 50px;
                            margin: 0px 5px;
                        }

                        detail-data {
                            // width: 250px;
                            detail-in-fullname {
                                span {
                                    font-size: 13px;
                                }
                            }

                            detail-in {
                                .head-data {
                                    font-size: 11px;
                                }

                                .text-data {
                                    font-size: 11px;
                                }
                            }
                        }
                    }

                    action-bt {
                        content-status {
                            bt-because {
                                button {
                                    font-size: 14px;
                                }
                            }

                            bt-status {
                                .frame {
                                    span {
                                        font-size: 14px;
                                    }
                                }
                            }

                            bt-delete {
                                button {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .page-because-popup {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            opacity: 0;
            visibility: hidden;
            transition: 0.5s opacity , 0.5s visibility;
            background-color: transparent;
            backdrop-filter: blur(8px);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 999;
            overflow-y: scroll;
        }
    
        .page-because-popup::-webkit-scrollbar {
            width: 0;
        }
    }
    
    // @media screen and (max-width: 860px) {
    //     .body-list-doctor {
    //         .page-insert {
    //             .body-page {
    //                 padding-top: 8.393px;
    //                 padding-bottom: 11.197px;
        
    //                 .head {
    //                     font-size: 10.629px;
    //                     margin-bottom: 2.7993px;
    //                 }
    //                 .detail-data {
    //                     padding: 2.7993px 8.393px;
    //                     label {
    //                         padding: 4.472px 2.795px;
    //                         margin: 2.795px 0px;
        
    //                         svg {
    //                             font-size: 16.79px;
    //                             margin-right: 2.795px;
    //                         }
                            
    //                         input {
    //                             font-size: 10.0706px;
    //                             min-width: 115.55px;
    //                             min-height: 17px;
    //                         }
    //                     }
    //                 }
        
    //                 label.admin-confirm {
    //                     padding: 2.795px 0px;
    //                     margin-bottom: 5.5986px;
        
    //                     input {
    //                         font-size: 10.0706px;
    //                         min-width: 115.55px;
    //                         min-height: 17px;
    //                     }
    //                 }
        
    //                 .bt-submit {
    //                     button {
    //                         width: 48.0654px;
    //                         font-size: 8.9526px;
    //                         padding: 1.118px 0px;
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }  
}