$font-Page : 4.5vw;
.farm {
    .farm-body {
        .body-main {
            .body-success {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;

                .head {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: Sans-font;
                    font-size: 7vw;
                    font-weight: 900;
                    width: 100%;
                    height: 15%;
                    display: flex;
                    position: relative;

                    .return {
                        background-color: #daf1ee;
                        height: 1.5em;
                        left: 0;
                        display: flex;
                        position: absolute;
                        border-radius: 0px 15px 15px 0px;
                        padding: 0.3em 0.5em;
                        padding-right: 0.8em;
                        box-shadow: 0px 2px 2px rgb(173, 173, 173);

                        svg {
                            fill: rgb(255, 0, 0);
                            font-weight: 900;
                        }
                    }
                }
                .menu-success {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    font-family: Sans-font;
                    font-size: $font-Page;
                    font-weight: 600;
                    width: 100%;

                    span {
                        position: relative;
                        width: 43%;
                        text-align: center;
                        padding: 5px 0px;
                        padding-top: 6px;
                        border-radius: 8px;
                        box-shadow: 0px 2px 2px #17665b;
                        background-color: #daf1ee;

                        .dot-someting {
                            position: absolute;
                            background-color: rgba(255, 0, 0, 0.581);
                            width: 0.9em;
                            height: 0.9em;
                            border-radius: 50%;
                            top : -0.3em;
                            right: -0.3em;
                        }
                    }
                }

                .content-success {
                    display : flex;
                    flex-direction: column;
                    padding: 0px 4%;
                    width: 100%;
                    height: 100%;
                    padding-top: 10px;
                    overflow-y: auto;

                    .list-success {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        // height: 100%;
                        .list-in-cf , .list-in-cp {
                            margin: 4px 0px;
                            background-color: #daf1ee;
                            padding: 2px 4px;
                            border-radius: 8px;
                            width: 100%;
                            
                            .row {
                                display: flex;
                                font-family: Sans-font;
                                font-size: $font-Page;
                                .in-row {
                                    display: flex;
                                    align-items: start;
                                    width: 100%;
                                    margin: 2px 0px;
                                    span {
                                        font-weight: 900;
                                        font-size: $font-Page;
                                    }

                                    input {
                                        border: 0;
                                        outline: 0;
                                        text-align: end;
                                        background-color: transparent;
                                        font-family: Sans-font;
                                        font-size: $font-Page;
                                        padding: 0;
                                    }

                                    div {
                                        display: flex;
                                        margin-left: 8px;
                                        background-color: white;
                                        border-radius: 5px;
                                        padding: 1px 4px;

                                        status_check {
                                            font-weight: 900;
                                            margin-right: 5px;
                                        }
                                    }
                                }

                                .in-row.column {
                                    flex-direction: column;
                                }

                                .in-row.end {
                                    justify-content: center;
                                    align-items: end;
                                }

                                .in-row.frame {
                                    background-color: white;
                                    border-radius: 0px 20px 0px 20px;
                                    width: 55%;
                                    padding: 3px 10px;
                                    padding-bottom: 0;
                                }
                            }
                        }

                        .list-in-h {
                            display: flex;
                            flex-direction: column;
                            background-color: #FFC3C3;
                            box-shadow: 0px 4px 4px #946a6a;
                            border-radius: 15px;
                            padding:8px 8px;
                            font-family: Sans-font;
                            font-size: 16px;
                            margin-bottom: 8px;

                            .row {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .bt {
                                    width: 100%;
                                    display: flex;
                                    justify-content: end;
                                    align-items: center;
                                    margin-top: 2px;
                                    button {
                                        font-size: 18px;
                                        padding: 0 15px;
                                        font-weight: 900;
                                        background-color: white;
                                        box-shadow: 0px 3px 3px rgba(155, 155, 155, 0.805);
                                        font-family: Sans-font;
                                        border-radius: 20px;
                                        border: 0;
                                    }
                                }
                            }

                            .first {
                                margin-bottom: 4px;
                                .type-head {

                                }
                                .date {
                                    text-align: end;
                                    width: 58%;
                                    input {
                                        background-color: transparent;
                                        text-align: end;
                                        border: 0;
                                        font-size: 12px;
                                        font-family: Sans-font;
                                        width: 100%;
                                    }
                                }
                            }

                            .second {
                                .station {
                                    display: flex;

                                    .name-station {
                                        text-overflow: ellipsis;
                                        text-wrap: nowrap;
                                        overflow: hidden;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }

                .popup {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    backdrop-filter: blur(8px);
                    z-index: 1;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.5s opacity , 0.5s visibility;

                    .detail-popup {
                        font-family: Sans-font;
                        padding: 15px 8px;
                        border-radius: 15px;
                        width: 90%;
                        background-color: white;
                        box-shadow: 0px 4px 4px rgb(185, 185, 185);
                        
                        .head-content {
                            display: flex;
                            position: relative;
                            align-items: center;
                            justify-content: center;
                            .head-popup {
                                text-align: center;
                                width: 100%;
                                font-size: 22px;
                                font-weight: 900;
                            }

                            .content-load {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: absolute;
                                right: 0.4em;
                            }
                        }

                        .report-alert {
                            display: flex;
                            margin: 5px 0px;
                            color: red;
                        }

                        .bt {
                            display: flex;
                            justify-content: space-evenly;
                            margin-top: 15px;
                            width: 100%;

                            button {
                                font-family: Sans-font;
                                border-radius: 18px;
                                border: 0;
                                width: 30%;
                                font-size: 18px;
                                font-weight: 900;
                                box-shadow: 0px 4px 4px rgb(176, 176, 176);
                            }
                        }
                    }
                }

                .popup[show=""] {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

// .farm {
//     .farm-body {
//         .body-main {
//             .body-success {
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 align-items: center;
//                 width: 100%;
//                 height: 100%;

//                 .head {
//                     display: flex;
//                     justify-content: center;
//                     align-items: center;
//                     font-family: Sans-font;
//                     font-size: 7vw;
//                     font-weight: 900;
//                     width: 100%;
//                     height: 15%;
//                     display: flex;
//                     position: relative;

//                     .return {
//                         background-color: #daf1ee;
//                         height: 1.5em;
//                         left: 0;
//                         display: flex;
//                         position: absolute;
//                         border-radius: 0px 15px 15px 0px;
//                         padding: 0.3em 0.5em;
//                         padding-right: 0.8em;
//                         box-shadow: 0px 2px 2px rgb(173, 173, 173);

//                         svg {
//                             fill: rgb(255, 0, 0);
//                             font-weight: 900;
//                         }
//                     }
//                 }
//                 .content-success {
//                     display : flex;
//                     flex-direction: column;
//                     padding: 0px 4%;
//                     width: 100%;
//                     height: 90%;

//                     .list-success {
//                         display: flex;
//                         flex-direction: column;
//                         width: 100%;
//                         height: 100%;
//                         .list-in-success {
//                             display: flex;
//                             flex-direction: column;
//                             background-color: #FFC3C3;
//                             box-shadow: 0px 4px 4px #946a6a;
//                             border-radius: 15px;
//                             padding:8px 8px;
//                             font-family: Sans-font;
//                             font-size: 16px;
//                             margin-bottom: 8px;

//                             .row {
//                                 width: 100%;
//                                 display: flex;
//                                 justify-content: space-between;
//                                 align-items: center;
//                             }

//                             .first {
//                                 margin-bottom: 4px;
//                                 .type-head {

//                                 }
//                                 .date {
//                                     text-align: end;
//                                     width: 58%;
//                                     input {
//                                         background-color: transparent;
//                                         text-align: end;
//                                         border: 0;
//                                         font-size: 12px;
//                                         font-family: Sans-font;
//                                         width: 100%;
//                                     }
//                                 }
//                             }

//                             .second {
//                                 .station {
//                                     display: flex;
//                                 }

//                                 .bt {
//                                     button {
//                                         font-size: 18px;
//                                         padding: 0 15px;
//                                         font-weight: 900;
//                                         background-color: white;
//                                         box-shadow: 0px 3px 3px rgba(155, 155, 155, 0.805);
//                                         font-family: Sans-font;
//                                         border-radius: 20px;
//                                         border: 0;
//                                     }
//                                 }
//                             }
//                         }
//                     }
//                 }

//                 .popup {
//                     display: flex;
//                     justify-content: center;
//                     align-items: center;
//                     position: fixed;
//                     top: 0;
//                     left: 0;
//                     width: 100%;
//                     height: 100%;
//                     background-color: transparent;
//                     backdrop-filter: blur(8px);
//                     z-index: 1;
//                     opacity: 0;
//                     visibility: hidden;
//                     transition: 0.5s opacity , 0.5s visibility;

//                     .detail-popup {
//                         font-family: Sans-font;
//                         padding: 15px 8px;
//                         border-radius: 15px;
//                         width: 90%;
//                         background-color: white;
//                         box-shadow: 0px 4px 4px rgb(185, 185, 185);
                        
//                         .head-content {
//                             display: flex;
//                             position: relative;
//                             align-items: center;
//                             justify-content: center;
//                             .head-popup {
//                                 text-align: center;
//                                 width: 100%;
//                                 font-size: 22px;
//                                 font-weight: 900;
//                             }

//                             .content-load {
//                                 display: flex;
//                                 justify-content: center;
//                                 align-items: center;
//                                 position: absolute;
//                                 right: 0.4em;
//                             }
//                         }

//                         .report-alert {
//                             display: flex;
//                             margin: 5px 0px;
//                             color: red;
//                         }

//                         .bt {
//                             display: flex;
//                             justify-content: space-evenly;
//                             margin-top: 15px;
//                             width: 100%;

//                             button {
//                                 font-family: Sans-font;
//                                 border-radius: 18px;
//                                 border: 0;
//                                 width: 30%;
//                                 font-size: 18px;
//                                 font-weight: 900;
//                                 box-shadow: 0px 4px 4px rgb(176, 176, 176);
//                             }
//                         }
//                     }
//                 }

//                 .popup[show=""] {
//                     opacity: 1;
//                     visibility: visible;
//                 }
//             }
//         }
//     }
// }