$ColorGreen : #22C7A9;
.tab-bar-desktop {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0.39% 0.65%;
    width: 100%;
    z-index: 90;
    .pg-action {
        width: 10vw;
        .Logo {
            display: flex;
            align-items: center;
            justify-content: start;
            img {
                width: 4.144vw;
            }
            span {
                color: $ColorGreen;
                font-family: Sans-font;
                font-size: 1.85vw;
                padding-top: 2%;
                margin-left: 2%;
                font-weight: 900;
            }
        }
    }

    .bt-action {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 85%;
        a {
            margin: 0px 3.1%;
            font-family: Sans-font;
            border-radius: 50px;
            font-weight: 900;
            font-size: 1.4vw;
            color: $ColorGreen;
        }

        a.logout {
            margin-right: 0px;
            background-color: $ColorGreen;
            padding: 0.2% 2%;
            color: black;
        }
    }
}