body , html , #loading {
    height: 100vh;
    width: 100vw;
    /* height: 745px;
    width: 1536px; */
}

#loading {
    background-image: url("/ดอย.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#loading img {
    width: 250px;
}

#loading div {
    position: fixed;
    width: 200px;
    height: 200px;
    border: 8px solid white;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-radius: 50%;
    animation: rotate-curcle 0.5s cubic-bezier(0, 0, 0, 0) 0s infinite;
}