.login-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 20px 40px;
        border-radius: 30px;

        .Logo-App {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 80px;
            }

            span {
                font-size: 30px;
                font-family: main-font;
                font-weight: 900;
                margin-left: 15px;
                padding-top: 8px;
                color: #379B7A;
            }
        }

        label {
            margin: 5px 0px;
            display: flex;
            justify-content: end;

            span {
                
            }

            input {
                border-radius: 12px;
                border: 0.5px solid greenyellow;
                border-bottom: 4px solid greenyellow;
                box-shadow: 0px 0px 2.5px greenyellow;
                outline: 0px;
                padding: 3px 10px;
                width: 100%;
                font-family: main-font;
                font-weight: 900;
                font-size: 16pt;
            }
        }

        button {
            margin-top: 15px;
            border-radius: 50px;
            padding: 2px 55px;
            background-color: #379B7A;
            font-family: Sans-font;
            border: 0;
            color: white;
            font-weight: 900;
            font-size: 15pt;
        }
    }
}

.moveOn {
    transform: translate(-5px, -25px) !important;
}

.empty {
    box-shadow: 0px 0px 5px red !important;
}

.error-login {
    color: red;
    font-family: main-font;
    font-weight: 900;
    font-size: 14px;
}

.Logo-App {
    transition: 0.3s;
    margin-bottom: 18px;

    -webkit-user-drag: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// responsive computer
.login-admin[computer=""] {
    .content-login {
        button {
            cursor: pointer;
        }
        button:hover {
            box-shadow: 0px 0px 10px green;
        }
    }
}

