.form-list-page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .bt-action {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 18%;
        button {
            width: 180px;
            border: 0;
            margin: 0px 20px;
            border-radius: 18px;
            padding: 4px;
            font-family: Sans-font;
            font-weight: 900;
            font-size: 15px;
            box-shadow: 0px 4px 4px rgba(181, 181, 181, 0.566);
            cursor: pointer;
        }

        button.approv {
            background: linear-gradient(90deg , #A0FFE3 , #d5fff3);
        }

        button.wait {
            background: linear-gradient(90deg , #F78282 , #f4c2c2);
        }

        button.approv:hover {
            box-shadow: 0px 4px 4px #5e1d1d7d;
        }

        button.wait:hover {
            box-shadow: 0px 4px 4px #43806e7d;
        }
    }

    .form-list {
        display: flex;
        width: 100%;
        height: 100%;

        .row {
            display: flex;
            justify-content: start;
            align-items: start;
            width: 100%;
            margin: 10px 0px;
            .content-list-form {
                display: flex;
                flex-direction: column;
                width: 25%;
                background-color: #A0FFE3;
                border-radius: 20px;
                padding: 5px 10px;
                font-family: Sans-font;
                margin: 0px 4.2%;
                box-shadow: 0px 4px 4px rgb(195, 195, 195);
                cursor: pointer;

                .inrow {
                    display: flex;
                    // justify-content: center;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;
                    margin: 5px 0px;
                    font-size: 17px;

                    .type-main {
                        font-weight: 900;
                        font-size: 19px;
                    }

                    .date {
                        display: flex;
                        align-items: start;
                        justify-content: end;
                        padding-top: 2px;
                        padding-right: 11px;
                        border-radius: 0px 18px 0px 18px;
                        background-color: white;
                        span {
                            font-size: 13px;
                        }
                        input {
                            font-family: Sans-font;
                            text-align: end;
                            padding: 2px;
                            margin-top: 4px;
                            border: 0px;
                            background-color: transparent;
                            width: 80%;
                            outline: 0;
                            cursor: pointer;
                            pointer-events: none;
                        }
                    }
                    .factor {
                        display: flex;
                        justify-content: end;

                        span {
                            margin: 0px 5px;
                        }

                        .dot {
                            color: white;
                        }
                    }
                }
            }

            .content-list-form:hover {
                box-shadow: 0px 4px 4px #16604a;
            }
        }
    }
}