.page-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    .head {
        font-size: 30px;
        font-family: Sans-font;
        font-weight: 900;
    }

    .content-menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        .bt-menu-frame {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 18px;
            padding: 13px 0px;
            width: 205px;
            font-family: Sans-font;
            font-weight: 900;
            box-shadow: 0px 4px 4px #00000040;
            cursor: pointer;

            img {
                width: 101px;
            }

            .text-one {
                display: flex;
                height: 40px;
                font-size: 30px;
            }
            .text-two {
                font-size: 20px;
            }

            .action {
                margin-top: 5px;
                button {
                    font-family: Sans-font;
                    font-size: 18px;
                    padding: 0px 30px;
                    border-radius: 50px;
                    border: 0;
                    background: linear-gradient(90deg , #C2FAC1 , #25983E, );
                    color: white;
                    font-weight: 900;
                }
            }
        }

        .bt-menu-frame.plant {
            background: linear-gradient(180deg , #FFA08B , white);
        }
        .bt-menu-frame.plant:hover {
            box-shadow: 0px 4px 4px #FFA08B;
        }

        .bt-menu-frame.success {
            background: linear-gradient(180deg , #AC8FFF , white);
        }
        .bt-menu-frame.success:hover {
            box-shadow: 0px 4px 4px #AC8FFF;
        }
    }
}