.manage-data-popup {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 250px;
    width: 100%;
    background-color: white;
    padding: 4px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px #126c5ccb;
    z-index: 2;

    .close {
        position: absolute;
        bottom: 98%;
        z-index: 0;
        right: 0.5em;
        font-size: 18px;
        font-family: Sans-font;
        font-weight: 900;
        color: white;
        background-color: rgb(211, 98, 98);
        padding: 1.8px 15px;
        height: 28px;
        border-radius: 10px 10px 4px 4px;
    }

    .head-form {
        display: flex;
        flex-direction: column;
        font-family: Sans-font;
        .head-text {
            font-weight: 900;
            font-size: 18px;
            color: #176f3f;
            width: 100%;
            text-align: center;
            margin: 4px 0px;
        }
        .manage-menu {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .edit {
                font-size: 17px;
                margin-right: 8px;
                background-color: #22C7A9;
                width: 60px;
                height: 25px;
                text-align: center;
                border-radius: 20px;
                font-weight: 900;
                color: white;
            }
            .edit:hover {
                background-color: #22c7a99f;
            } 
            
            .status-frame {
                display: flex;
                justify-content: start;
                align-items: center;
                border-radius: 20px;
                overflow: hidden;
                width: 60px;
                height: 25px;
                transition: 0.5s border;

                .status {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.5s transform , 0.5s background-color;
                    span {
                        text-align: center;
                        font-size: 17px;
                        width: 36px;
                    }

                    .dot-status {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                    }
                }
            }

            .status-frame[status="1"] {
                border: 2px solid #22C7A9;
                .status {
                    transform: translateX(0px);

                    .dot-status {
                        background-color: #22C7A9;
                    }
                }
            }

            .status-frame[status="0"] {
                border: 2px solid red;
                .status {
                    transform: translateX(-35px);

                    .dot-status {
                        background-color: red;
                    }
                }
            }
        }
    }

    .detail {
        .body {
            .row {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-top: 5px;

                input {
                    width: 100%;
                    border-radius: 8px;
                    padding: 2px 6px;
                    padding-right: 0px;
                    // padding-bottom: 0;
                    font-family: Sans-font;
                    font-size: 15px;
                    // background-color: rgb(215, 140, 140);
                    background-color: #22C7A9;
                    color: white;
                    border: 0;
                    outline: 0;
                    margin-top: 0px;
                    box-shadow:0px 0px 5px inset #416963;
                    height: 26px;
                }

                input::placeholder {
                    color: rgba(255, 255, 255, 0.893);
                }

                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                
                .field-select {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                    font-family: Sans-font;
                    font-size: 16px; //media query
                    width: 100%;

                    span {
                        display: flex;
                        justify-content: space-between;
                        font-family: Sans-font;
                        font-weight: 900;
                        font-size: 15px; //media query
                        width: 100%;

                        span {
                            width: auto;
                        }
                    }

                    span.important::after {
                        content: "*";
                        color: red;
                        width: auto;
                        transform: translateY(-0.2em);
                    }

                    span.ab::after {
                        position: absolute;
                        right: 0;
                    }

                    span.important{
                        position: relative;
                        justify-content: start;
                    }

                    select {
                        font-family: Sans-font;
                        font-size: 15px; //media query
                        border-radius: 8px;
                        padding: 0px 2px;
                        margin: 0px 2px;
                        border:2px solid #22C7A9;
                        width: 100%;
                        text-align: center;
                        height: 26px;

                        option.on {
                            background-color: #22C7A9;
                        }
                    }

                    select:disabled {
                        color: black;
                        opacity: 1;
                    }

                    input {
                        width: 100%;
                    }

                    select:focus-visible {
                        outline: #176f3f auto 2px;
                    }

                    select.width-100 {
                        width: 90%;
                    }

                    .box-input-number {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        width: 100%;
                        span {
                            width: auto;
                            font-size: 35px;
                            height: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        input {
                            width: 22%;
                            height: 30px;
                            padding: 0px 0px;
                            padding-top: 2px;
                            text-align: center;
                        }
                    }

                    .err-text-overlape {
                        color: red;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }

                .field-select.not1 {
                    input {
                        width: 98%;
                    }
                }
            }
        }
    }

    .detail[state="0"] {
        .body {
            .row {

                input {
                    background-color: transparent;
                    color: black;
                    border: 2px solid #22C7A9;
                    box-shadow: none;
                }

                select {
                    appearance: none; /* สำหรับ WebKit บน iOS */
                    -webkit-appearance: none; /* สำหรับ WebKit บน iOS */
                    -moz-appearance: none; /* สำหรับ Firefox */
                    // padding: 0;
                }

                .field-select.not1 {
                    input {
                        width: 98%;
                    }
                }
            }
        }
    }

    .bt-manage{
        .password {
            margin: 4px 0px;
        }
    }
}