.manage-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0.8vw;
    box-shadow: 0px 4px 4px rgba(166, 166, 166, 0.571);
}